.your-info{

}
.your-info__form{
    /* margin-top: 2rem; */
}
.your-info__content{
    display: grid;
    margin-bottom: 1rem;
    position: relative;
}
.your-info__content--error::after{
    content: 'This field is required';
    color: var(--StrawberryRed);
    font-weight: 500;
    position: absolute;
    top: -5px;
    right: 0;
}
.your-info__content--error input{
    border: 1px solid var(--StrawberryRed);
    color: red;
}
.your-info__label{
    text-transform: capitalize;
    color: var(--MarineBlue);
    margin-bottom: .3rem;
}
.your-info__input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border: 1px solid var(--CoolGray);
    border-radius: var(--radius-xs);
}